/**
 * Arquivo: style.css
 * Descrição: Este arquivo contém estilos CSS para um layout responsivo.
 * Autor: [ELTO BORGES]
 * Data: [13/03/24---23:38]
 */


/* Define o box-sizing para border-box em todos os elementos */
* {
    box-sizing: border-box;
}

/* Define as propriedades do corpo do documento */
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Define a altura do cabeçalho e rodapé */
header,
footer {
    height: 60px;
}

/* Define a borda para o cabeçalho, corpo e rodapé */
header,
main,
footer {
    border: 1px solid black;
}

/* Define as propriedades do cabeçalho */
header {
    background-color: blue;
    position: relative;
    top: 0;
    width: 100%;
}

/* Define as propriedades do corpo principal */
main {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 0px;
    background-color: red;
}

/* Define as propriedades das divs dentro do corpo principal */
main div {
    flex-basis: 100%;
    height: 100%;
    background-color: yellow;
    border: 1px solid black;
}

/* Define a classe "dobro" para as divs que ocupam metade da largura */
.dobro {
    flex-basis: calc(50% - 10px);
}

/* Define as propriedades do rodapé */
footer {
    background-color: green;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Define as propriedades das imagens */
img {
    width: 100%;
    height: auto;
}

/* Define as regras de mídia para telas com largura mínima de 577px */
@media screen and (min-width: 577px) {
    main div {
        flex-basis: calc(50% - 10px);
    }
}

/* Define as regras de mídia para telas com largura máxima de 576px */
@media screen and (max-width: 576px) {
    main div {
        flex-basis: 100%;
    }
    
    img {
        width: calc(50% - 10px);
    }
    
    main div.dobro {
        flex-basis: 100%;
        font-size: 150%;
    }
}
